body {
    background-color: rgba(22, 37, 36, 0.12);
    color: rgb(61, 111, 117);
    font-family: Merriweather, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px 20px 0px 20px;
}


header {
    text-align: center;
    padding: 5%;
    width: 90%;
    /* Ajusta este valor según sea necesario */
    max-width: 1200px;
    /* Tamaño máximo para el header */
    margin: 20px auto;
    /* Centra el header horizontalmente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra para dar profundidad */
    padding: 20px;
    /* Espacio interno */
    border-radius: 10px;
    /* Borde redondeado */
    background-color: #f4f4f4;

}


.merriweather-bold-italic {
    font-weight: 700;
    font-style: italic;
}



main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    display: inline;
    padding: 0.5em;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    width: 16px;
    height: 16px;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

header h3 {
    text-align: center;
    margin: 0;
    padding: 0;
}

#decoracion {
    text-decoration: underline;
}

.bordes-de-titulos {
    border: 5px outset #ccc;
    border-radius: 1em;
    box-sizing: border-box;
    margin: 5px 0 10px 0;
    /* Eliminar margen adicional */
    padding: 0.25em;
    /* Ajustar padding para el borde */
    display: inline-block;
    /* Ajustar el tamaño del contenedor al texto */
}

input[type="text"]::placeholder {
    color: rgba(0, 0, 0, 0.2);
    /* Color negro con 50% de transparencia */
    width: auto;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px transparent;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

.alineador {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 20px;
}

.tareas {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-bottom: 15px;
    padding: 10px;
}

.creador-de-tareas {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-bottom: 10px;
    padding: 10px;
}


#borde-circular {
    border-radius: 50%;
    border: 5px outset #ccc;
    text-align: center;
    margin: auto;
    width: auto;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
}