* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}

body {
    background-color: rgb(240, 240, 240);
    font-family: Verdana, sans-serif;
    height: 100%;
}

header{
    margin:0 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}

.header-boton{
    display: inline-block;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.header-boton img {
    display: block;
    align-items: center;
    pointer-events: none;
    cursor: inherit;
}

.logo{
    display: flex;
    flex-direction: row;
}

.buscador {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 40%;

    & input {
        width: 70%;
    }
}


.botones-derecha{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.creador{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 16px;
    padding: 10px;
    border: 1px inset black;
    border-radius: 50px; /* Bordes redondeados */

    & input {    
        height: 20px;
        width: 300px;
        border: 1px inset black;
        border-radius: 50px; /* Bordes redondeados */

        &::placeholder {
            text-align: center;
        }
    }

    & button {
        margin-left: 8px;
        display: inline-block;
        cursor: pointer;
        border: none;
        background-color: transparent;
    }
    & img {
        display: block;
        align-items: center;
        pointer-events: none;
        cursor: inherit;
    }

}    





    
.contenedor-de-listas {
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 100%;
    height: 100%;
}

.listas-creadas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    width: 70%;
    padding: 16px;
    border:  1px solid black;
    margin-left: 32px;
    border-radius: 8px;
    box-shadow: 0 0 16px rgba(0, 0, 0, .25);
}

.lista {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    height: fit-content;
    width: 150px;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 0 16px rgba(0, 0, 0, .25);

    & h3 {
        text-align: center;
    }

    & ul {
        list-style: none;
    }
}


.ul-creadas li {
    display: flex;
    flex-direction: row;
    gap : 8px;

}


.listas-generales {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-right: 32px;
    width: 30%;
}


.lista-en-proceso {
    border:  1px solid black;
    height: 50%;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 16px rgba(0, 0, 0, .25);

    & h3 {
        text-align: center;
        padding-top: 16px;
    }

    & ul {
        list-style: none;
    }
    
}

.lista-terminada {
    border:  1px solid black;
    height: 50%;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 16px rgba(0, 0, 0, .25);
    
    & h3 {
        text-align: center;
        padding-top: 16px;
    }

    & ul {
        list-style: none;
    }
}